
body{
    background-color: rgb(255, 206, 230);
    color: rgb(0, 0, 0);
}

ul{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: rgb(140, 174, 238);
}

ul li{
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
   background-color: rgb(0, 0, 0);
}

ul li a.active {
    background-color: black;
}


.ik, .gezin, .vrienden {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin: 20px;
}

.homepagina {
    height: 100px;
    width: 74%;
    border: 1px solid #010101;
    padding: 20px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: justify;
}

.pagina {
    padding: 20px;
    width: 60%;
    margin-left: 0;
    margin-right: auto;
    text-align: justify;
}

.hometitel{
    margin-left: 20px;
}

header{
    background-color: rgb(255, 0, 136);
    text-align: center;
    padding: 10px;
}

.ASCII-tabel{
    width: 700px;
    height: 500px;
}

.voorbeeld{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 200px;
    border: 3px solid #ffffff;
}

.tekst {
    background-color: #ffffff;
    width: 60%;
    padding: 50px;
    display: block;
    margin: 50px auto 0 auto;
}