
body{
    background-color: rgb(249, 208, 227); /*achtergrond kleur*/
    color: rgb(0, 0, 0); /*tekstkleur*/
}

ul{
list-style-type: none; /*verwijderd de standaard bolletjes*/
margin: 0; /*haalt ruimte tussen de andere elementen weg*/
padding: 0; /*haalt ruimte binnen het menu weg*/
overflow: hidden; /*zorgt dat het binnen het venster blijft*/
background-color: rgb(140, 174, 238); /*achtergrondkleur*/
}

ul li{
    float: left; /*zorgt dat het menu horizontaal wordt aan de linkerkant*/
}

ul li a {
    display: block; /*maakt de link van de pagina een blok*/
    color: white; /*tekstkleur*/
    text-align: center; /*tekst in het midden van het blok*/
    padding: 14px 16px; /*ruimte rondom de tekst*/
    text-decoration: none; /*verwijderd de standaard onderstreping van links*/
}

/*als je over het menu gaat krijgt die een andere kleur namelijk zwart*/
ul li a:hover {
   background-color: rgb(0, 0, 0);
}

/*op de pagina waar je bent krijgt die een andere kleur dan de rest van het menu*/
ul li a.active {
    background-color: black;
}

/*ik, gezin en vrienden zijn classen, hoe het hieronder staat zorgt ervoor dat ze naast elkaar komen te staan*/
.ik, .gezin, .vrienden {
    width: 300px; /*breedte is 300px*/
    height: 400px; /*hoogte is 400px*/
    object-fit: cover; /*afbeelding vult het vak zonder vervorming*/
    border-radius: 10px; /*maakt de hoekjes van de foto rond*/
    margin: 20px; /*20px ruimte rondom het plaatje*/
}

.homepagina {
    height: 130px; /*hoogte van het kader*/
    width: 74%; /*breedte van het kader*/
    border: 1px solid #010101; /*dun zwart randje op het tekstvlak*/
    padding: 20px; /*ruimte binnenin het vak rondom de tekst*/
    margin-left: 20px; /*extra ruimte links van het vak*/
    padding-top: 20px; /*extra ruimte bovenin het vak*/
    padding-bottom: 20px; /*extra ruimte onderin het vak*/
    border-radius: 10px; /*maakt de hoekjes van de foto rond*/
    text-align: justify; /*tekst wordt netjes afgesneden*/
}

.Binair {
    padding: 20px;
    width: 60%;
    margin-left: 0; /*geen ruimte links*/
    margin-right: auto; /*automatische uitlijning rechts*/
    text-align: justify; /*tekst wordt netjes afgesneden*/
}
.hometitel{
    margin-left: 20px;
}

header{
    background-color: rgb(255, 0, 132);
    text-align: center; /*tekst en inhoud in het midden*/
    padding: 10px;
}

.ASCII-tabel{
    width: 700px;
    height: 500px;
}

.voorbeeld{
    position: fixed; /*vak blijft op dezelfde plek scrollen*/
    bottom: 0; /*uitgelijnd tegen de onderkant van het scherm*/
    right: 0; /*uitgelijnd tegen de rechterkant van het scherm*/
    width: 350px;
    height: 200px;
    display: block; /*blokweergave*/
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.tekst {
    background-color: #ffffff;
    width: 60%;
    padding: 50px;
    display: block;
    margin: 50px auto 0 auto; /*boven ruimte 50px, horizontaal gecentreerd en onder ruimte 0*/
    text-align: justify;
    border-radius: 10px;
}

/*gaat over alle 4 de stukjes tekst en zorgt voor 4 verschillende kolommen*/
.grid-container {
    display: grid; /*gebruikt grid layout en dat zijn dus kolommen*/
    grid-template-columns: auto auto; /*twee kolommen naast elkaar*/
    gap: 20px; /*ruimte tussen de kolommen*/
    padding: 20px; /*ruimte binnen de kolommen*/
}

/*gaat over de kolom zelf*/
.grid-item {
    background-color: #ffffff;
    border: 1px solid #ccc; /*grijze rand rondom de kolom*/
    padding: 20px;
    font-size: 16px; /*standaard lettergrootte*/
    border-radius: 10px;
    text-align: justify;
}

/*gaat over de afbeelding in de kolom*/
.grid-item img {
    display: block; /*afbeelding als blok element*/
    margin: auto; /*afbeelding centreren*/
    max-width: 90%; /*afbeelding wordt niet breder dan 90%*/
    height: auto; /*hoogte gaat mee op de breedte, schaalt mee*/
}

.Compressie {
    border-style: double; /*dubbele rand rondom het element*/
    text-align: justify;
    padding: 20px; /*ruimte binnen het element*/
    margin: 20px; /*ruimte buiten het element*/
}

.Compressieplaatje {
    float: right; /*zet het element rechts in de tekst*/
    width: 40%;
    margin-left: 20px; /*ruimte links tussen plaatje en tekst*/
}

.vectorvsbitmap {
    width: 60%;
}
