
body{
    background-color: rgb(255, 206, 230); /*achtergrond kleur*/
    color: rgb(0, 0, 0); /*tekstkleur*/
}

ul{
list-style-type: none; /*verwijderd de standaard bolletjes*/
margin: 0; /*haalt ruimte tussen de andere elementen weg*/
padding: 0; /*haalt ruimte binnen het menu weg*/
overflow: hidden; /*zorgt dat het binnen het venster blijft*/
background-color: rgb(140, 174, 238); /*achtergrondkleur*/
}

ul li{
    float: left; /*zorgt dat het menu horizontaal wordt aan de linkerkant*/
}

ul li a {
    display: block; /*maakt de link van de pagina een blok*/
    color: white; /*tekstkleur*/
    text-align: center; /*tekst in het midden van het blok*/
    padding: 14px 16px; /*ruimte rondom de tekst*/
    text-decoration: none; /*verwijderd de standaard onderstreping van links*/
}

ul li a:hover {
   background-color: rgb(0, 0, 0);
}

ul li a.active {
    background-color: black;
}

/*ik, gezin en vrienden zijn klassen*/
.ik, .gezin, .vrienden {
    width: 300px; /*breedte is 300px*/
    height: 400px; /*hoogte is 400px*/
    object-fit: cover;
    border-radius: 10px; /*maakt de hoekjes van de foto rond*/
    margin: 20px;
}

.homepagina {
    height: 130px;
    width: 74%;
    border: 1px solid #010101;
    padding: 20px;
    margin-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    text-align: justify;
}

.pagina {
    padding: 20px;
    width: 60%;
    margin-left: 0;
    margin-right: auto;
    text-align: justify;
}

.hometitel{
    margin-left: 20px;
}

header{
    background-color: rgb(255, 0, 136);
    text-align: center;
    padding: 10px;
}

.ASCII-tabel{
    width: 700px;
    height: 500px;
}

.voorbeeld{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 350px;
    height: 200px;
    display: block;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
}

.tekst {
    background-color: #ffffff;
    width: 60%;
    padding: 50px;
    display: block;
    margin: 50px auto 0 auto;
    text-align: justify;
    border-radius: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 16px;
    border-radius: 10px;
    text-align: justify;
}

.grid-item img {
    display: block;
    margin: auto;
    max-width: 90%;
    height: auto;
}

.Compressie {
    border-style: double;
    text-align: justify;
    padding: 20px;
    margin: 20px;
}
